{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<section class="footer-container">
  {% if template.name == 'index' %}
    {% comment %} Affiche les vagues uniquement sur la page d'accueil. {% endcomment %}
    <svg
      class="footer-container__wave"
      xmlns="http://www.w3.org/2000/svg"
      width="1530"
      height="29"
      viewBox="0 0 1530 29"
      preserveAspectRatio="none"
    >
      <path d="M359.04 9.58693C157.08 0.101074 36.769 0.568999 0 7.41352V28.1011H1530V7.41352C1477.4 4.02849 1424 7.77206 1317.84 5.86655C1260.45 4.83649 1144.79 -2.11087 1046.52 0.814835C951.393 3.64691 894.156 5.75635 781.32 7.41352C633.168 9.58935 516.12 16.9648 359.04 9.58693Z"></path>
    </svg>
  {% endif %}
  <footer>
    <div class="wrapper">
      <svg
        class="footer__wave"
        width="1755"
        height="205"
        viewBox="0 0 1755 205"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
      >
        <g clip-path="url(#clip0_2973_9785)">
        <path d="M1753.36 71.01C1747.76 72.5 1724.62 77.83 1718.95 78.96C1690.84 84.6 1573.32 97.65 1544.99 101.78C1496.1 108.87 1447.09 112.22 1398 102.98C1380.35 99.68 1363.29 94.53 1347.15 86.56C1341.64 83.87 1341.63 83.69 1345.62 78.81C1354.83 67.62 1361.38 55.07 1362.52 40.43C1363.02 34.18 1362.75 27.62 1361.49 21.47C1360.55 16.87 1358.08 12.26 1355.25 8.37001C1346.56 -3.59999 1334.32 -2.57999 1327.25 10.38C1325.76 13.1 1324.18 15.73 1322.68 18.41C1320.52 16.41 1318.45 14.36 1316.21 12.51C1309.78 7.07001 1302.54 4.11001 1293.88 5.25001C1287.29 6.17001 1282.32 9.46001 1279.48 15.3C1274.29 25.83 1274.84 36.26 1281.48 45.94C1291.29 60.27 1304.01 71.67 1318.19 81.61C1325.03 86.41 1325.04 86.51 1318.13 91.39C1299.71 104.37 1279.09 112.63 1257.61 118.96C1236.27 125.33 1214.48 129.66 1192.5 133.1C1191.56 133.25 1190.61 133.34 1189.66 133.39C1170.25 134.26 1145.19 135.2 1126.32 136.23C1057.67 137.09 989.03 138.02 920.38 138.77C832.44 139.73 744.49 140.33 656.55 139.86C580.01 139.46 503.5 137.11 426.97 136.77C356.96 136.46 286.81 138.22 217.14 145.42C150.74 152.28 83.3796 163.56 21.0896 188.39C14.1996 191.14 7.38965 194.08 0.659645 197.19C-2.20035 198.51 5.02964 205.68 7.74965 204.42C67.1296 176.92 132.63 163.89 197.2 155.74C267.54 146.86 338.59 144.3 409.44 144.1C483.66 143.88 557.87 146.41 632.09 147.01C719.6 147.72 807.12 147.3 894.62 146.44C981.91 145.59 1054.85 146.17 1142.13 145.12C1152.86 144.99 1189.93 142.41 1189.83 141.75C1194.5 141.35 1199.31 140.86 1204.33 140.23C1233.03 135.28 1261.38 128.94 1288.4 117.69C1302.95 111.61 1316.8 104.34 1329.13 94.51C1332.21 91.98 1334.63 91.64 1338.27 93.56C1366.64 108.75 1397.49 114.75 1429.22 117.52C1464.59 120.54 1499.75 118.86 1534.74 113.44C1565.48 108.7 1685.52 95.94 1716.09 90.33C1723.01 89.05 1747.4 83.46 1754.24 81.7L1753.35 71.02L1753.36 71.01ZM1335.51 76.37C1333.26 78.78 1331.28 77.93 1329.03 76.49C1315.77 68.01 1303.33 58.34 1293.93 45.6C1290.32 40.67 1287.89 34.34 1286.55 28.24C1284.28 18.28 1291.91 11.39 1301.83 14.27C1306.11 15.54 1310.3 18.1 1313.78 20.92C1316.76 23.31 1318.56 27.1 1321.03 30.09C1322.06 31.3 1324.06 33.13 1324.78 32.79C1326.26 32.16 1327.64 30.42 1328.25 28.79C1330 24.24 1330.84 19.31 1332.98 14.96C1337.28 6.03001 1344.4 5.76 1349.25 14.53C1351.76 19.09 1352.77 24.57 1353.76 27.5C1354.41 48.02 1347.71 63.26 1335.51 76.37Z"/>
        </g>
        <defs>
        <clipPath id="clip0_2973_9785">
        <rect width="1754.26" height="204.56" fill="white"/>
        </clipPath>
        </defs>
      </svg>
      <div class="footer__content">
        {% if section.settings.logo %}
          <img
            class="footer__logo"
            src="{{ section.settings.logo | image_url: width: 100 }}"
            alt="logo"
            width="100"
            height="100"
          >
        {% endif %}
        <div class="footer__social">
          <span class="footer__social-heading">
            {{ section.settings.social_heading }}
          </span>
          <ul class="footer__social-list">
            {% for block in section.blocks %}
              <li class="footer__social-item">
                <a class="footer__social-link" href="{{ block.settings.url }}">
                  {{
                    block.settings.logo
                    | image_url: width: 100
                    | image_tag: width: 100, height: 100, alt: block.settings.logo.alt, class: 'footer__social-icon'
                  }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </footer>
</section>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "social_heading",
      "label": "Titre reseaux sociaux",
      "default": "Suivez nous sur"
    }
  ],
  "blocks": [
    {
      "type": "social_link",
      "name": "Reseau social",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
