{{ 'section-header.css' | asset_url | stylesheet_tag }}

<section class="header-section">
  <header>
    {% if section.settings.logo or section.settings.logo_home %}
      <a class="header__logo" href="{{ routes.root_url }}" aria-label="{{ shop.name | escape }}">
        {% if template.name == 'index' and section.settings.logo_home %}
          <img
            class="header__logo-image header__logo-image--home"
            src="{{ section.settings.logo_home | image_url: width: 193 }}"
            alt="{{ section.settings.logo_home.alt | default: shop.name | escape }}"
            width="193"
            height="36"
          >
        {% endif %}

        {% if section.settings.logo %}
          <img
            class="header__logo-image{% if template.name == 'index' and section.settings.logo_home %} header__logo-image--default{% endif %}"
            src="{{ section.settings.logo | image_url: width: 193 }}"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            width="193"
            height="36"
          >
        {% endif %}
      </a>
    {% endif %}

    <div class="header__actions">
      {%- if shop.customer_accounts_enabled -%}
        <a
          class="account-link header__action-link"
          href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
        >
          {% render 'icon-customer' %}
        </a>
      {%- endif -%}

      <a class="cart-link header__action-link" href="{{ routes.cart_url }}">
        {% render 'icon-cart' %}
        {%- if cart.item_count > 0 -%}
          <span class="cart-count">{{ cart.item_count }}</span>
        {%- endif -%}
      </a>
    </div>
  </header>
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo par défaut"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Logo page d'accueil"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
